includeConfig '../../../modules/nf-core/bowtie2/build/nextflow.config'
includeConfig '../../../modules/nf-core/gunzip/nextflow.config'
includeConfig '../../../modules/nf-core/cobrameta/nextflow.config'
includeConfig '../../../modules/local/coverm/contig/nextflow.config'
includeConfig '../../nf-core/fastq_align_bowtie2/nextflow.config'
