process {
    withName: INSTRAIN_COMPARE {
        publishDir = [
            [
                path: { "${params.outdir}/VirusMicrodiversity/instrain/compare" },
                mode: params.publish_dir_mode,
                pattern: '*.IS_compare',
            ]
        ]
        ext.args   = [
            params.instrain_min_variant_cov ? "--min_cov ${params.instrain_min_variant_cov}" : "",
            params.instrain_min_snp_freq ? "--min_freq ${params.instrain_min_snp_freq}" : "",
            params.instrain_max_snp_fdr ? "--fdr ${params.instrain_max_snp_fdr}" : "",
            params.instrain_min_genome_breadth ? "--breadth ${params.instrain_min_genome_breadth}" : "",
            params.instrain_popani_thresh ? "--ani_threshold ${params.instrain_popani_thresh}" : "",
            params.instrain_min_genome_comp ? "--coverage_treshold ${params.instrain_min_genome_comp}" : "",
            "--skip_popANI --skip_plot_generation"
        ].join(' ').trim()
    }
}