params {
    // Input data
    input  = 'https://github.com/nf-core/test-datasets/raw/phageannotator/assets/1.0.0/test_samplesheet.csv'

    // Tool options
    reference_virus_fasta   = 'https://github.com/nf-core/test-datasets/raw/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fasta/test1.contigs.fa.gz'
    mash_screen_min_score   = 0
    genomad_splits          = 5

    // Pipeline options
    publish_dir_mode            = 'symlink'

    // Resource limiting
    max_cpus   = 4
    max_memory = '15.GB'
    max_time   = '6.h'

    // Test data base paths
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'
}

// Impose sensible resource limits for testing
process {
    withName: SAMTOOLS_SORT {
        cpus = 2
    }

    withName: SAMTOOLS_STATS {
        cpus = 2
    }
}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

// Load modules test_data.config
includeConfig 'https://github.com/nf-core/modules/raw/master/tests/config/test_data.config'
