process {
    withName: IPHOP_DOWNLOAD {
        publishDir = [
                path: { "${params.outdir}/PhageHost/iphop" },
                mode: params.publish_dir_mode,
                pattern: 'iphop_db',
                enabled: params.save_iphop_db
        ]
        ext.args   = [
            params.iphop_test_db ? "--db_version iPHoP_db_rw_for-test" : ""
        ].join(' ').trim()
    }
}