process {
    withName: AWK {
        ext.args = "'FNR>1 || NR==1'"
        publishDir = [
                path: { "${params.outdir}/VirusClassification" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv',
        ]
    }

    withName: AWK_GENOMAD {
        ext.args = "'FNR>1 || NR==1'"
        publishDir = [
                path: { "${params.outdir}/VirusClassification" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv',
        ]
    }

    withName: AWK_CHECKV {
        ext.args = "'FNR>1 || NR==1'"
        publishDir = [
            path: { "${params.outdir}/VirusQuality" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }
}
