process {
    withName: MASH_SKETCH_ASSEMBLIES {
        ext.args = '-i'
        publishDir = [
                enabled: false
        ]
    }

    withName: MASH_SKETCH_REFERENCES {
        ext.args = '-i'
        publishDir = [
                path: { "${params.outdir}/ReferenceContainment/mash/sketch" },
                mode: params.publish_dir_mode,
                pattern: '*.msh',
                enabled: params.save_reference_virus_sketch
        ]
    }
}