includeConfig '../../../modules/nf-core/gunzip/nextflow.config'
includeConfig '../../../modules/nf-core/blast/makeblastdb/nextflow.config'
includeConfig '../../../modules/nf-core/blast/blastn/nextflow.config'
includeConfig '../../../modules/local/anicluster/anicalc/nextflow.config'
includeConfig '../../../modules/local/anicluster/aniclust/nextflow.config'
includeConfig '../../../modules/local/anicluster/extractreps/nextflow.config'
