/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: MASH_SKETCH {
        ext.args = '-i'
        publishDir = [
                path: { "${params.outdir}/ReferenceIdentification/mash/sketch" },
                mode: params.publish_dir_mode,
                pattern: '*.msh',
        ]
    }

    withName: MASH_SCREEN {
        ext.args = params.mash_screen_min_score ? "-i ${params.mash_screen_min_score}" : ""
        publishDir = [
                path: { "${params.outdir}/ReferenceIdentification/mash/screen" },
                mode: params.publish_dir_mode,
                pattern: '*.screen',
        ]
    }

    withName: APPEND_SCREEN_HITS {
        publishDir = [
                path: { "${params.outdir}/ReferenceIdentification/append_screen_hits" },
                mode: params.publish_dir_mode,
                pattern: '*.fna.gz',
        ]
    }

    withName: GENOMAD_DOWNLOAD {
        publishDir = [
                path: { "${params.outdir}/DeNovoIdentification/genomad" },
                mode: params.publish_dir_mode,
                pattern: 'genomad_db',
        ]
    }

    withName: GENOMAD_ENDTOEND {
        ext.args   = [
            params.genomad_min_score ? "--min-score ${params.genomad_min_score}" : "",
            params.genomad_max_fdr ? "--enable-score-calibration --max-fdr ${params.genomad_max_fdr}" : "",
            params.genomad_splits ? "--splits ${params.genomad_splits}" : ""
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/DeNovoIdentification/genomad/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '*_summary/*_virus*',
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
