/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phageannotator -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Local nf-test profile'
    config_profile_description = 'Minimal test datasets to run nf-tests locally '

    // Limit resources so that this can run on GitHub Actions

    // Input data
    input  = 'assets/1.0.0/test_samplesheet.csv'

    // Tool options
    mash_screen_min_score   = 0
    genomad_splits          = 5
}

// Load test_data.config for nf-tests
includeConfig 'test_data.config'
