params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/phageannotator"

    // TODO: Add all test data to test_data.config
    test_data {
        'assets' {
                test_samplesheet        = "${params.test_data_base}/assets/1.0.0/test_samplesheet.csv"
        }
        'modules_local' {
                assembly_fasta_gz       = "${params.test_data_base}/modules/local/seqkit/seq/assembly.fasta.gz"
                mash_sketch1_msh        = "${params.test_data_base}/modules/local/mash/paste/bacteroides_fragilis_contigs1.msh"
                mash_sketch2_msh        = "${params.test_data_base}/modules/local/mash/paste/bacteroides_fragilis_contigs2.msh"
                reference_fasta_gz      = "${params.test_data_base}/modules/local/append_screen_hits/reference.fasta.gz"
                mash_screen_results_tsv = "${params.test_data_base}/modules/local/append_screen_hits/mash_screen_results.tsv"
                virus_summary1_tsv      = "${params.test_data_base}/modules/local/awk/test1_virus_summary.tsv"
                virus_summary2_tsv      = "${params.test_data_base}/modules/local/awk/test2_virus_summary.tsv"
                viruses_fna_gz          = "${params.test_data_base}/modules/local/quality_filter_viruses/viruses.fna.gz"
                proviruses_fna_gz       = "${params.test_data_base}/modules/local/quality_filter_viruses/proviruses.fna.gz"
                quality_summary_tsv     = "${params.test_data_base}/modules/local/quality_filter_viruses/quality_summary.tsv"
                blast_txt               = "${params.test_data_base}/modules/local/anicluster/anicalc/blast.txt"
                ani_tsv                 = "${params.test_data_base}/modules/local/anicluster/aniclust/ani.tsv"
                clusters_tsv            = "${params.test_data_base}/modules/local/anicluster/extractreps/clusters.tsv"
        }
    'sarscov2' {
        'illumina' {
            test_single_end_bam         = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/sarscov2/illumina/bam/test.single_end.bam"
        }
        'genome' {
            genome_fasta                = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/sarscov2/genome/genome.fasta"
        }
    }
    'bacteroides_fragilis' {
        'illumina' {
            contigs_fa_gz               = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fasta/test1.contigs.fa.gz"
            test1_bam                   = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/bam/test1.bam"
            test2_bam                   = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/bam/test2.bam"
        }
        'genome' {
            genome_fna_gz        = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/prokaryotes/bacteroides_fragilis/genome/genome.fna.gz"
        }
    }
    }
}
