// README:
// https://github.com/nf-core/test-datasets/blob/modules/README.md

params {

    test_data {
        'assets' {
                test_samplesheet        = "${params.pipelines_testdata_base_path}/assets/1.0.0/test_samplesheet.csv"
        }
        'generic' {
            'tar' {
                tar_gz                  = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/generic/tar/hello.tar.gz"
            }
        }
        'modules_local' {
                assembly_fasta_gz       = "${params.pipelines_testdata_base_path}/modules/local/seqkit/seq/assembly.fasta.gz"
                mash_sketch1_msh        = "${params.pipelines_testdata_base_path}/modules/local/mash/paste/bacteroides_fragilis_contigs1.msh"
                mash_sketch2_msh        = "${params.pipelines_testdata_base_path}/modules/local/mash/paste/bacteroides_fragilis_contigs2.msh"
                reference_fasta_gz      = "${params.pipelines_testdata_base_path}/modules/local/append_screen_hits/reference.fasta.gz"
                mash_screen_results_tsv = "${params.pipelines_testdata_base_path}/modules/local/append_screen_hits/mash_screen_results.tsv"
                virus_summary1_tsv      = "${params.pipelines_testdata_base_path}/modules/local/awk/test1_virus_summary.tsv"
                virus_summary2_tsv      = "${params.pipelines_testdata_base_path}/modules/local/awk/test2_virus_summary.tsv"
                viruses_fna_gz          = "${params.pipelines_testdata_base_path}/modules/local/quality_filter_viruses/viruses.fna.gz"
                proviruses_fna_gz       = "${params.pipelines_testdata_base_path}/modules/local/quality_filter_viruses/proviruses.fna.gz"
                quality_summary_tsv     = "${params.pipelines_testdata_base_path}/modules/local/quality_filter_viruses/quality_summary.tsv"
                blast_txt               = "${params.pipelines_testdata_base_path}/modules/local/anicluster/anicalc/blast.txt"
                ani_tsv                 = "${params.pipelines_testdata_base_path}/modules/local/anicluster/aniclust/ani.tsv"
                clusters_tsv            = "${params.pipelines_testdata_base_path}/modules/local/anicluster/extractreps/clusters.tsv"
                viromeqc                = "${params.pipelines_testdata_base_path}/modules/local/viromeqc/viromeqc/medians.csv"
        }
        'modules_nfcore' {
                checkv_test_db_tar      = "${params.pipelines_testdata_base_path}/modules/nfcore/checkv/endtoend/checkv_minimal_db.tar"
                iphop_test_db_tar_gz    = "${params.pipelines_testdata_base_path}/modules/nfcore/iphop/download/Test_db_rw.tar.gz"
                iphop_data_tar_gz       = "${params.pipelines_testdata_base_path}/modules/nfcore/iphop/predict/iPHoP_data.tar.gz"
                instrain_stb            = "${params.pipelines_testdata_base_path}/modules/nfcore/instrain/profile/instrain_stb.stb"
                proteins_fna_gz         = "${params.pipelines_testdata_base_path}/modules/nfcore/instrain/profile/proteins.fna.gz"
        }
        'workflows' {
            'phageannotator' {
                sars_cov2_contigs_fasta_gz  = "${params.pipelines_testdata_base_path}/workflows/phageannotator/sars_cov2_contigs.fasta.gz"
            }
        }
    }
}
