/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phageannotator -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function '

    // Limit resources so that this can run on GitHub Actions
    //max_cpus   = 2
    //max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = 'https://github.com/nf-core/test-datasets/raw/phageannotator/assets/1.0.0/test_samplesheet.csv'

    // Tool options
    reference_virus_fasta   = 'https://github.com/nf-core/test-datasets/raw/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fasta/test1.contigs.fa.gz'
    mash_screen_min_score   = 0
    genomad_splits          = 5

    skip_genomad = true
    skip_genomad_taxonomy = true
    skip_checkv  = true
    skip_iphop   = true

    // Pipeline options
    publish_dir_mode            = 'symlink'
}

includeConfig './test_data.config'
