/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phageannotator -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test COBRA profile'
    config_profile_description = 'Minimal test dataset to check COBRA function '

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = 'https://github.com/nf-core/test-datasets/raw/phageannotator/assets/1.0.0/test_samplesheet.csv'

    // Tool options
    run_cobra                       = true
    cobra_assembler                 = 'megahit'
    cobra_mink                      = 21
    cobra_maxk                      = 141

    // Pipeline options
    publish_dir_mode                = 'symlink'
}
