params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/phageannotator"

    // TODO: Add all test data to test_data.config
    test_data {
        'assets' {
                test_samplesheet        = "${params.test_data_base}/assets/1.0.0/test_samplesheet.csv"
        }
        'generic' {
            'tar' {
                tar_gz                  = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/generic/tar/hello.tar.gz"
            }
        }
        'modules_local' {
                assembly_fasta_gz       = "${params.test_data_base}/modules/local/seqkit/seq/assembly.fasta.gz"
                mash_sketch1_msh        = "${params.test_data_base}/modules/local/mash/paste/bacteroides_fragilis_contigs1.msh"
                mash_sketch2_msh        = "${params.test_data_base}/modules/local/mash/paste/bacteroides_fragilis_contigs2.msh"
                reference_fasta_gz      = "${params.test_data_base}/modules/local/append_screen_hits/reference.fasta.gz"
                mash_screen_results_tsv = "${params.test_data_base}/modules/local/append_screen_hits/mash_screen_results.tsv"
                virus_summary1_tsv      = "${params.test_data_base}/modules/local/awk/test1_virus_summary.tsv"
                virus_summary2_tsv      = "${params.test_data_base}/modules/local/awk/test2_virus_summary.tsv"
                viruses_fna_gz          = "${params.test_data_base}/modules/local/quality_filter_viruses/viruses.fna.gz"
                proviruses_fna_gz       = "${params.test_data_base}/modules/local/quality_filter_viruses/proviruses.fna.gz"
                quality_summary_tsv     = "${params.test_data_base}/modules/local/quality_filter_viruses/quality_summary.tsv"
                blast_txt               = "${params.test_data_base}/modules/local/anicluster/anicalc/blast.txt"
                ani_tsv                 = "${params.test_data_base}/modules/local/anicluster/aniclust/ani.tsv"
                clusters_tsv            = "${params.test_data_base}/modules/local/anicluster/extractreps/clusters.tsv"
        }
        'modules_nfcore' {
                checkv_test_db_tar      = "${params.test_data_base}/modules/nfcore/checkv/endtoend/checkv_minimal_db.tar"
                iphop_test_db_tar_gz    = "${params.test_data_base}/modules/nfcore/iphop/download/Test_db_rw.tar.gz"
                iphop_data_tar_gz       = "${params.test_data_base}/modules/nfcore/iphop/predict/iPHoP_data.tar.gz"
                instrain_stb            = "${params.test_data_base}/modules/nfcore/instrain/profile/instrain_stb.stb"
                proteins_fna_gz         = "${params.test_data_base}/modules/nfcore/instrain/profile/proteins.fna.gz"
        }
        'workflows' {
            'phageannotator' {
                sars_cov2_contigs_fasta_gz  = "${params.test_data_base}/workflows/phageannotator/sars_cov2_contigs.fasta.gz"
            }
        }
        'sarscov2' {
            'illumina' {
                test_1_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
                test_2_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test_2.fastq.gz"
                test2_1_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test2_1.fastq.gz"
                test2_2_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test2_2.fastq.gz"
                contigs_fasta           = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fasta/contigs.fasta"
                scaffolds_fasta         = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fasta/scaffolds.fasta"
                test_single_end_bam     = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/bam/test.single_end.bam"
                test_paired_end_bam     = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/bam/test.paired_end.bam"
            }
            'genome' {
                genome_fasta_gz         = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta.gz"
                genome_fasta            = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta"
                kraken2_tar_gz          = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/db/kraken2.tar.gz"
            }
        }
        'homo_sapiens' {
            'illumina' {
                test_flowcell               = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/illumina/bcl/flowcell.tar.gz"
                test_paired_end_sorted_bam  = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/illumina/bam/test.paired_end.sorted.bam"
                test2_paired_end_sorted_bam = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/illumina/bam/test2.paired_end.sorted.bam"
            }
            'genome' {
                genome_fasta            = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
                genome_fasta_gz         = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta.gz"
                transcriptome_fasta     = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/transcriptome.fasta"
            }
        }
        'bacteroides_fragilis' {
            'illumina' {
                test1_1_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test1_1.fastq.gz"
                test1_2_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test1_2.fastq.gz"
                test2_1_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test2_1.fastq.gz"
                test2_2_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fastq/test2_2.fastq.gz"
                contigs_fa_gz           = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/fasta/test1.contigs.fa.gz"
                test1_bam               = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/bam/test1.bam"
                test2_bam               = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/prokaryotes/bacteroides_fragilis/illumina/bam/test2.bam"
            }
            'genome' {
                genome_fna_gz           = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/prokaryotes/bacteroides_fragilis/genome/genome.fna.gz"
            }
        }
    }
}
