process {
    withName: INSTRAIN_PROFILE {
        publishDir = [
            [
                path: { "${params.outdir}/VirusMicrodiversity/instrain/profile" },
                mode: params.publish_dir_mode,
                pattern: '*.IS',
            ]
        ]
        ext.args   = [
            params.instrain_min_ani ? "--min_read_ani ${params.instrain_min_ani}" : "",
            params.instrain_min_mapq ? "--min_mapq ${params.instrain_min_mapq}" : "",
            params.instrain_min_variant_cov ? "--min_cov ${params.instrain_min_variant_cov}" : "",
            params.instrain_min_snp_freq ? "--min_freq ${params.instrain_min_snp_freq}" : "",
            params.instrain_max_snp_fdr ? "--fdr ${params.instrain_max_snp_fdr}" : "",
            params.instrain_min_genome_cov ? "--min_genome_cov ${params.instrain_min_genome_cov}" : "",
        ].join(' ').trim()
    }
}