process {
    withName: QUALITYFILTERVIRUSES {
        ext.args   = [
            params.checkv_min_length ? "--min_length ${params.checkv_min_length}" : "",
            params.checkv_min_completeness ? "--min_completeness ${params.checkv_min_completeness}" : "",
            params.checkv_remove_proviruses ? "--remove_proviruses" : "--no-remove_proviruses",
            params.checkv_remove_warnings ? "--remove_warnings" : "--no-remove_warnings",
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/VirusClassification/quality_filter_viruses" },
                mode: params.publish_dir_mode,
                pattern: '*.fna.gz',
        ]
    }
}
