process {
    withName: MASH_SCREEN {
        ext.args   = [
            params.mash_screen_min_score ? "-i ${params.mash_screen_min_score}" : "",
            params.mash_screen_winner_take_all ? "-w" : "",
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/ReferenceContainment/mash/screen" },
                mode: params.publish_dir_mode,
                pattern: '*.screen',
        ]
    }
}