process {
    withName: BLAST_BLASTN {
        ext.args   = [
            params.blast_min_percent_identity ? "-perc_identity ${params.blast_min_percent_identity}" : "",
            params.blast_max_num_seqs ? "-max_target_seqs ${params.blast_max_num_seqs}" : "",
            "-outfmt '6 std qlen slen'",
        ].join(' ').trim()
        publishDir = [
            enabled: false
        ]
    }
}