process {
    withName: PROPAGATE_PROPAGATE {
        publishDir = [
            path: { "${params.outdir}/ProvirusActivity/propagate/propagate" },
            mode: params.publish_dir_mode,
            pattern: '**/*_propagate.tsv',
        ]
        ext.prefix = { "${meta.id}_${meta.group}" }
        ext.args = [
            params.propagate_min_read_id ? "-p ${params.propagate_min_read_id}" : "",
            params.propagate_min_effect ? "-e ${params.propagate_min_effect}" : "",
            params.propagate_min_cov_ratio ? "-c ${params.propagate_min_cov_ratio}" : "",
            params.propagate_min_cov ? "--min ${params.propagate_min_cov}" : "",
            params.propagate_min_breadth ? "--breadth ${params.propagate_min_breadth}" : "",
        ].join(' ').trim()
    }
}
