process {
    withName: PHAROKKA_PHAROKKA {
        ext.args   = [
            "--meta",
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/PhageFunction/pharokka/pharokka" },
                mode: params.publish_dir_mode,
                pattern: '*',
        ]
    }
}