process {
    withName: COVERM_CONTIG {
        ext.args   = [
            "--methods $params.coverm_metrics",
            "--min-read-aligned-length $params.coverm_min_read_alignment",
            "--min-read-percent-identity $params.coverm_min_percent_identity",
            "--min-read-aligned-percent $params.coverm_min_percent_read_aligned",
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/VirusAbundance/coverm/contig" },
                mode: params.publish_dir_mode,
                pattern: '*_alignment_results.tsv',
        ]
    }
}
