process {
    withName: COVERM_CONTIG {
        ext.args = "--methods $params.coverm_metrics"
        publishDir = [
                path: { "${params.outdir}/VirusAbundance/coverm/contig" },
                mode: params.publish_dir_mode,
                pattern: '*_alignment_results.tsv',
        ]
    }
}
