includeConfig '../../modules/nf-core/fastqc/nextflow.config'
includeConfig '../../subworkflows/local/fastq_virus_enrichment_viromeqc/nextflow.config'
includeConfig '../../modules/local/seqkit/seq/nextflow.config'
includeConfig '../../subworkflows/local/fastq_fasta_reference_containment_mash/nextflow.config'
includeConfig '../../modules/local/appendscreenhits/nextflow.config'
includeConfig '../../modules/nf-core/cat/cat/nextflow.config'
includeConfig '../../subworkflows/local/fasta_virus_classification_genomad/nextflow.config'
includeConfig '../../modules/local/awk/nextflow.config'
includeConfig '../../subworkflows/local/fasta_virus_quality_checkv/nextflow.config'
includeConfig '../../modules/local/qualityfilterviruses/nextflow.config'
includeConfig '../../modules/nf-core/custom/dumpsoftwareversions/nextflow.config'
includeConfig '../../modules/nf-core/multiqc/nextflow.config'
includeConfig '../../subworkflows/local/fasta_all_v_all_blast/nextflow.config'
includeConfig '../../subworkflows/nf-core/bam_sort_stats_samtools/nextflow.config'
includeConfig '../../subworkflows/nf-core/bam_stats_samtools/nextflow.config'
includeConfig '../../subworkflows/nf-core/fastq_align_bowtie2/nextflow.config'
includeConfig '../../modules/local/coverm/contig/nextflow.config'
includeConfig '../../subworkflows/local/fasta_phage_host_iphop/nextflow.config'
includeConfig '../../modules/nf-core/gunzip/nextflow.config'
includeConfig '../../modules/nf-core/bacphlip/nextflow.config'
includeConfig '../../modules/local/prodigal/prodigalgv/nextflow.config'
includeConfig '../../subworkflows/local/fasta_phage_function_pharokka/nextflow.config'
includeConfig '../../modules/local/instrain/stb/nextflow.config'
includeConfig '../../subworkflows/local/fasta_microdiversity_instrain/nextflow.config'
