process {
    withName: SEQKIT_SEQ {
        ext.args = params.assembly_min_length ? "--min-len ${params.assembly_min_length}" : ""
        publishDir = [
                path: { "${params.outdir}/AssemblyFilter/seqkit/seq" },
                mode: params.publish_dir_mode,
                pattern: '*.fast*',
        ]
    }
}
