process {
    withName: CHECKV_ENDTOEND {
        publishDir = [
            [
                path: { "${params.outdir}/VirusQuality/checkv/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '**/*quality_summary.tsv'
            ],
            [
                path: { "${params.outdir}/VirusQuality/checkv/endtoend" },
                mode: params.publish_dir_mode,
                pattern: '**/*viruses.fna.gz'
            ]
        ]
    }
}