process {
    withName: BOWTIE2_ALIGN {
        publishDir = [
            [
                path: { "${params.outdir}/VirusAbundance/bowtie2/align" },
                mode: params.publish_dir_mode,
                pattern: '*.{bam,sam}',
            ],
            [
                path: { "${params.outdir}/VirusAbundance/bowtie2/align" },
                mode: params.publish_dir_mode,
                pattern: '*.log',
            ],
        ]
    }
}