process {
    withName: ANICLUSTER_ANICLUST {
        ext.args   = [
            "--min_ani ${params.anicluster_min_ani}",
            "--min_qcov ${params.anicluster_min_qcov}",
            "--min_tcov ${params.anicluster_min_tcov}"
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/GenomeClustering/aniclust" },
                mode: params.publish_dir_mode,
        ]
    }
}
