process {
    withName: ANICLUSTER_EXTRACTREPS {
        ext.prefix = { "${meta.id}_anicluster" }
        publishDir = [
                path: { "${params.outdir}/GenomeClustering/" },
                mode: params.publish_dir_mode,
                pattern: "*_representatives.fna.gz"
        ]
    }
}
